
.page-two-container{
    width:94vw;
    height:110vh;
    background:url('../image/manage-trip.jpeg');
    background-size: cover;
    background-position: 70% 20%;
}

.manage-plan{
    position:relative;
    bottom:10px;
    top:10px;
    left:5%;
    border:5px solid orangered;
    padding:25px;
    width:325px;
    height:375px;
    z-index:10;
    .black-cover{
        position: absolute;
        background:black;
        opacity: 0.6;
        // bottom:10px;
        top:0;
        left:0;
        // border:5px solid orangered;
        padding:25px;
        width:325px;
        height:375px;
        z-index:0
    }
    input{
        position: relative;
        display:block;
        width:80%;
        margin:0;
    }
    lable{
        color:white;
        letter-spacing: 2px;
        font-size: 15px;
    }
    .btn{
        position: relative;
    }
}
.content{
    text-align: center;
    color:rgb(250, 70, 70);
    font-size:40px;
    font-weight: bold;
    padding-top: 90px;
    margin-bottom:50px;
}
.manage-plan {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 110px;
    grid-template-rows: repeat(4, 1fr);
    div{
        margin:0;
        padding-right:15%;
        padding-left:6%;
    }
    .Date{
        grid-column:1/3;
        padding-left:20px;
    }
    .Spot{
        position:relative;
        right:28%;
        grid-column: 3/4;
        min-width: 110px;
    }
    .User{
        grid-column: 1/4;
        grid-row: 2/3;
        width:100%;
    }
    .Email{
        grid-column: 1/4;
        grid-row: 3/4;
        width:100%;
    }
    .btn{
        grid-column: 3/4;
        grid-row: 4/5;
    }
}

@media only screen and (max-width:450px){
    .black-cover{
        height:70vh!important;
        width:84.3%!important;

    }
    .manage-plan{
        position: relative;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 1fr);
        width:70%;
        height:70vh;
        margin:0 1.5%;
        bottom:5%;
        div{
            padding:5%;
            margin:0;
        }
        .Date{
            grid-row:1/2;
            grid-column: 1/3;
            width:100%;
            padding:5%;
        }
        .Spot{
            grid-column: 1/3;
            grid-row: 2/3;
            width:100%;
            position: static;
        }
        .User{
            grid-row: 3/4;
            width:100%;
        }
        .Email{
            grid-row: 4/5;
            width:100%;
        }
        .btn{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        
    }
    .content{
        font-size:30px;
        padding-top:50px;
    }
}
.to-firstPage{
    position:fixed;
    background: #97DBF1;
    right:6%;
    bottom:65px;
    font-size:40px;
    width:60px;
    height:60px;
    // border:3px solid red;
    border-radius:50%;
    text-align:center;
    line-height: 55px;
    color:white;
    z-index: 1000;
    cursor:pointer;
    opacity: 0;
    transition: .3s linear;
  
}
.show-to-firstPage{
    opacity: .8;
    
}

    

