
#page-one{
    margin-bottom:100x;
}
.pageone-header-bar{
    width:93.3vw;
    height:65px;
    position:fixed;
    z-index: 999;
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0.2em 0.2em 0.2em black;
    font-weight: bolder;
    padding:10px 5px;    
    transition: 1s;
    .header-icon{
        display:none;
    }
    ul {
        display:flex;
        li{
            text-align:center;
            a{
                color:white;
            }
        }
        li:not(.head-logo):hover{
            border-bottom:5px solid red;
            transition:0.2s;
        }
        
    }
    .head-logo{
        line-height: 65px;
        padding-left: 25px;
        font-size:40px;
        width:50%;
        text-align: left;
        
    }
}

.break-line{
    width: inherit;
    height:20vh;
    display:flex;
    align-items: center;
    .break-line-ball{
        display:inline-block;
        background:pink;
        border: 2px solid pink;
        border-radius:50%;
        width:10px;
        height:10px;
        margin-right:15px;
    }
    .break-line-line{
        width:90vw;
        display:inline-block;
        border-bottom:2px solid orange;
    }
}

.pageone-header-bar-change{
    background:#F6FBFE;
    color:black;
    text-shadow: 0em 0em 0em black;
    opacity: 1;
    .ul-before-change{
       color:#71b8c0;
    }
    .a-change{
        color:black !important;
    }
}

@media only screen and (max-width:675px) and (orientation:portrait){
    .pageone-header-bar .no-show{
        display:none;
    }
    .pageone-header-bar .header-icon{
        position: absolute;
        display:inline-block;
        right:7%;
        top: 30%;
        font-size:40px;
        cursor: pointer;
        z-index:999;
        
    }
}
.mobile-menu{
    background: #DEF3FD;
    position:fixed;
    right:10px;
    top:90px;
    display:inline-block;
    width:100px;
    min-width:100px;
    z-index:998;
    border:3px solid rgba(2, 2, 173, 0.493);
    border-bottom:none;
    display: none;
    li{
        border-bottom:3px solid rgba(2, 2, 173, 0.493);        
        display: inline-block;
        text-align:center;
        width:100%;
        height:45px;
        font-weight: bold;
        line-height: 45px;
        a{
        color:black;
        }        
    }
    li:hover{
        background: #75A5CC;
        a{
            color:white;
        }
    }
}