
.page-two-container{
    width:94vw;
    height:110vh;
    background:url('../image/manage-trip.jpeg');
    background-size: cover;
    background-position: 70% 20%;
}

.manage-plan{
    position:relative;
    bottom:10px;
    top:10px;
    // height:90vh;
    left:5%;
    border:5px solid orangered;
    padding:25px;
    width:325px;
    // min-width:200px;
    height:375px;
    // border-radius: 40%;
    background: black;
    opacity: .5;
    input{
        display:block;
        width:80%;
        margin:0;
    }
    lable{
        color:white;
        letter-spacing: 2px;
        font-size: 15px;
    }
}
.content{
    text-align: center;
    color:rgb(250, 70, 70);
    font-size:40px;
    font-weight: bold;
    padding-top: 110px;
    margin-bottom:25px;
}
.manage-plan {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);
    // padding-left:6%;
    div{
        margin:0;
        padding-right:15%;
        padding-left:6%;
    }
    .Date{
        grid-column:1/2;
        padding-left:20px;
    }
    .Spot{
        grid-column: 2/3;
        // padding-right:37px;
    }
    .User{
        grid-column: 1/3;
        grid-row: 2/3;
        width:100%;
    }
    .Email{
        grid-column: 1/3;
        grid-row: 3/4;
        width:100%;
    }
    .btn{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

@media only screen and (max-width:450px){
    .manage-plan{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 1fr);
        width:70%;
        height:58vh;
        margin:0 1.5%;
        bottom:5%;
        div{
            padding:5%;margin:0;
        }
        .Date{
            grid-row:1/2;
            grid-column: 1/3;
            width:100%;
            padding:5%;
        }
        .Spot{
            grid-column: 1/3;
            grid-row: 2/3;
            width:100%;
        }
        .User{
            grid-row: 3/4;
            width:100%;
        }
        .Email{
            grid-row: 4/5;
            width:100%;
        }
        .btn{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .content{
            font-size:30px;
        }
    }
}

    

